.icon-color{
    --slds-c-icon-color-foreground-default: #c2003c;
    margin-right: 4px;
}

/*css per i toggle button*/
.slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux{
    border-color: #c2003c!important;
    background-color: #c2003c!important;
}

.customPosition{
    position: absolute;
    bottom: 11%;
    margin-left: 2%;
}