/*Created by Christian Niro*/

.bar-features{
    --lwc-progressBarColorBackgroundFill:#c2003c;
    size: "medium";
    align-items: center;
    
}

.container-bar{
    width: 85%;
    align-items: center;
    margin-left: 62px;
    margin-top: 250px;/*modificato per l'interfaccia*/
    margin-bottom: 56px;/*modificato per l'interfaccia, originariamente a 50 px*/
}